{#Extendemos la plantilla base#}
{% extends 'AppCorredoresRiojaBundle:Default:zonacorredores.html.twig'%}

{% block content %}
{% if error %}
<div> ​
{{ error.messageKey|trans(error.messageData,'security')}}
</div>
{% endif %}
<form action="{{ path('usuario_login_check') }}" method="post">
<fieldset>
            <legend>Acceso a zona de corredores</legend>
            <div class="form-group">
                <label for="username">DNI:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="_password"/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
</form>  
{% endblock %}